@charset "UTF-8";

/* BODY
---------------------------------------------------- */
body {
	color:#333;
	font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",  "游ゴシック体","Yu Gothic", YuGothic, Verdana, sans-serif !important;
	background:#fff ;
	}
p {
	word-break: break-all !important;
}


/* LINK
---------------------------------------------------- */
a{
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	}
a:link		{ color:#0f239a; 	text-decoration:underline ; }
a:visited	{ color:#0f239a; 	text-decoration:none; }
a:hover		{ color:#0f239a; text-decoration:none;}
a:active	{ color:rgba(0,0,0,0.3); 	text-decoration:none; }



p{ font-weight:400;}
em{
	font-weight:bolder;
	font-size:150%;
	}

/* BODY BASE
---------------------------------------------------*/
@media screen and (min-width: 981px){
	
	body {
		font-size:16px;
		line-height:1.4;
		letter-spacing:1px;
		}
	.forSP{ display:none; }
	.forPC{ display:block;}

}
@media screen and (min-width: 641px) and (max-width:980px){
	body {
		font-size:14px;
		line-height:1.4;
		letter-spacing:1px;
		}
}
@media screen and (max-width: 640px){
	body {
		font-size:13px;
		line-height:1.4;
		letter-spacing:0.5px;
		}
	.forPC{ display:none;}
	.forSP{ display:block; }

	html {
		-webkit-overflow-scrolling: touch;
	}

}

/* WRAPPER
---------------------------------------------------*/
#wrapper{
	position:relative;
	}

@media screen and (min-width: 641px){
	#wrapper{
		width:100%;
		position:relative;
	}
}

@media screen and (max-width: 640px){
	#wrapper{
		width:100%;
		margin:0 auto;
		position:relative;
	}
}

/* GACHA
---------------------------------------------------*/
#gachaArea{
	position:relative;
	text-align:center;
	}

@media screen and (min-width: 641px){
	#gachaArea{
		width:100%;
		background:#f4f4f4;
		margin:0 auto 0px auto;
		padding:80px;
	}
}

@media screen and (max-width: 640px){
	#gachaArea{
		width:100%;
		background:#f4f4f4;
		margin:0 auto 0px auto;
		position:relative;
		padding:10% 0;
	}
}
form{
	margin:30px 0 0 0;
}




/* button
---------------------------------------------------*/
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(255, 0, 0);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}






/* blink
----------------------------------------------------- */

@-webkit-keyframes blink{
		0% {opacity:0;}
		100% {opacity:1;}
}
@-moz-keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
