@charset "UTF-8";
/* CSS Document */

/* ZUKAN
---------------------------------------------------*/
#zukanArea{
	position:relative;
	}

@media screen and (min-width: 641px){
	#zukanArea{
		width:100%;
		background:#635d73 url("../images/bg.jpg") center top repeat;
		background-size:400px auto;
		margin:0 auto 0px auto;
		padding:30px 0;
		position:relative;
	}
}
@media screen and (max-width: 640px){
	#zukanArea{
		width:100%;
		margin:0 auto ;
		background:#635d73 url("../images/bg.jpg") center top repeat;
		background-size:400px auto;
		position:relative;
		padding:10px 0 20px 0;
	}
}

@media screen and (min-width: 641px){
	#zukanHeader{
		width:100%;
		height:35vw;
		max-height:325px;
		max-width:980px;
		margin:30px auto 0 auto;
		position:relative;
		background:url("../images/frame_hd.png") no-repeat;
		background-size:100% auto;
	}
	#zukanList{
		width:100%;
		max-width:980px;
		margin:0 auto -180px auto;
		position:relative;
		background:url("../images/frame_md.png")  repeat-y;
		background-size:100% auto;
		padding:0 70px 1px 70px ;
		display:block;
	}
	#zukanFooter{
		width:100%;
		height:30vw;
		max-height:300px;
		max-width:980px;
		margin:0px auto;
		position:relative;
		background:url("../images/frame_fd.png") no-repeat;
		background-size:100% auto;
		text-indent:-9999px;
	}
	
}
@media screen and (max-width: 640px){
	#zukanHeader{
		width:100%;
		height:33vw;
		margin:10px auto 0 auto;
		position:relative;
		background:url("../images/frame_hd_sp.png") no-repeat;
		background-size:100% auto;
	}
	#zukanList{
		width:100%;
		margin:0 auto -20vw auto;
		position:relative;
		background:url("../images/frame_md.png")  repeat-y;
		background-size:100% auto;
		padding:0 6% ;
		display:block;
	}
	#zukanFooter{
		width:100%;
		height:30vw;
		margin:0px auto;
		position:relative;
		background:url("../images/frame_fd.png") no-repeat;
		background-size:100% auto;
		text-indent:-9999px;
	}

	
}

/* ZUKAN HEADER TITLE
---------------------------------------------------*/
@media screen and (min-width: 641px){
	#zukanHeader h1{
		text-indent:-9999px;
	}
	#zukanIp{
		text-align:center;
		color:#d3d49e;
		font-weight:bolder;
		font-size:30px;
		margin-top:-22px;
		margin-bottom:30px;
		font-family:"ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	}
	#totalNumber{
		color:#d3d49e;
		text-align:right;
		margin:0px 0 20px;
	}
}
@media screen and (max-width: 640px){
	#zukanHeader h1{
		text-indent:-9999px;
	}
	#zukanIp{
		text-align:center;
		color:#d3d49e;
		font-weight:bolder;
		margin-top:0px;
		margin-bottom:30px;
		font-size:18px;
		font-family:"ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	}
	#totalNumber{
		text-align:right;
		margin:0px 0 20px;
		color:#d3d49e;
		font-size:12px;
	}
}

/* CATEGORY TITLE
---------------------------------------------------*/
@media screen and (min-width: 641px){
	
	.cateTitle{
		width:100%;
		position:relative;
		max-height:130px;
		height:13vw;
		background:url(../images/h1_base.png) no-repeat;
		background-size:100% auto;
	}
	.cateTitle h1{
		font-size:40px;
		width:100%;
		height:40px;
		line-height:1;
		font-family:"Times New Roman", Times,"ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
		font-weight:bolder;
		color:#403b4d;
		text-align:center;
		position:absolute;
		top:-35px;
		left:0;
		right:0;
		bottom:0;
		margin:auto auto auto auto;
	}
	
	.kakutoku{
		color:#403b4d;
		position:absolute;
		top:30%;
		right:60px;
		font-weight:bolder;
	}
	.complete{
		width:100px;
		height:120px;
		background:url("../images/complete.png") no-repeat;
		background-size:100% auto;
		position:absolute;
		top:-12px;
		right:-41px;
		display:block;
		text-indent:-9999px;
	}
	
}

@media screen and (max-width: 640px){
	.cateTitle{
		width:100%;
		position:relative;
		height:23.5vw;
		background:url(../images/h1_base_sp.png) no-repeat;
		background-size:100% auto;
	}
	.cateTitle h1{
		font-size:30px;
		width:100%;
		height:30px;
		line-height:1;
		font-family:"Times New Roman", Times,"ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
		font-weight:bolder;
		color:#403b4d;
		text-align:center;
		position:absolute;
		top:-26px;
		left:0;
		right:0;
		bottom:0;
		margin:auto auto auto auto;
	}
	.kakutoku{
		color:#403b4d;
		position:absolute;
		bottom:7vw;
		right:28px;
		font-weight:bolder;
		font-size:12px;
		letter-spacing:0;
		text-align:right;
		line-height:1.35;
	}
	.complete{
		width:50px;
		height:60px;
		background:url("../images/complete.png") no-repeat;
		background-size:100% auto;
		position:absolute;
		top:-6px;
		right:-5.7vw;
		display:block;
		text-indent:-9999px;
	}
}


/* SHOHIN LIST
---------------------------------------------------*/

.shohinList {
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.shohinList li img{
	width:100%;
	max-width:100%;
}
.shohinList li.noitem img{
	-webkit-filter: grayscale(1); /* Webkit */
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* W3C */
	cursor: default;
}
.shohinList li a{
	width:100%;
	height:100%;
	outline:none;
	display:block;
	cursor:pointer;
}
.shohinList li a:link{ opacity:1;}
.shohinList li a:hover{ opacity:0.7;}
.shohinList li .simg{
	width:100%;
	background:#fff;
	border-radius: 15px; 
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px; 
	padding:5px;
	position:relative;
	border:2px solid #f2f2f2;
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.shohinList li.noitem .simg{
	opacity:0.4;
}
.shohinList li p{
	color:#eee;
	text-align:center;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	 display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden; 
}
.shohinList li.noitem p{
	color:#000;
	text-align:center;
	text-shadow: 0px 0px 5px rgba(0,0,0,0);
	opacity:0.6;
}
.shohinList li.noitem h6{
	color:#c00000;
	background-color:rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0);
	box-shadow: 0px 0px 6px rgba(0,0,0,0);
	border:0px solid #000;
}

@media screen and (min-width: 641px){
	.shohinList{
		margin:20px;
	}
	.shohinList li{
		width:32%;
		margin-bottom:30px;
		position:relative;
	}
	
	.shohinList li h6{
		width:125px;
		display:block;
		position:relative;
		color:#fff;
		text-align:center;
		font-size:16px;
		line-height:1em;
		padding:10px 5px 7px 5px;
		margin:14px auto 11px auto;
		border:1px solid rgba(0,0,0,0.4);
		background:#b7ddca;
		color:#000;
		border-radius: 20px; 
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
		-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
		box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
	}
	
	.shohinList li h6 em{ font-size:140%;}
	.zoom{
		width:36px;
		height:36px;
		background:url("../images/zoom.svg") no-repeat;
		background-size:100% auto;
		display:block;
		position:absolute;
		bottom:5px;
		right:5px;
	}
	.newIcon{
		background:#e91616;
		
		width:52px;
		height:24px;
		color:#fff;
		font-size:12px;
		line-height:1;
		text-align:center;
		padding-top:6px;
		display:block;
		position:absolute;
		top:8px;
		left:8px;
		border-radius: 15px; 
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		/* 点滅 */
		-webkit-animation:blink 0.5s ease-in-out infinite alternate;
		-moz-animation:blink 0.5s ease-in-out infinite alternate;
		animation:blink 0.5s ease-in-out infinite alternate;
	}
	
}

@media screen and (max-width: 640px){
	.shohinList{
		margin:10% 2% 6% 2%;
	}
	.shohinList li{
		width:48%;
		margin-bottom:6%;
		position:relative;
	}
	.shohinList li h6{
		width:95px;
		display:block;
		position:relative;
		margin:12px auto 11px auto;
		text-align:center;
		font-size:11px;
		line-height:1em;
		padding:7px 6px 5px 6px;
		border:1px solid rgba(0,0,0,0.5);
		background:#b7ddca;
		color:#000;
		border-radius: 20px; 
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
		-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
		box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
	}
	
	.shohinList li h6 em{ font-size:140%;}
	.zoom{
		width:26px;
		height:26px;
		background:url("../images/zoom.svg") no-repeat;
		background-size:100% auto;
		display:block;
		position:absolute;
		bottom:5px;
		right:5px;
	}
	.newIcon{
		background:#e91616;
		width:44px;
		height:20px;
		color:#fff;
		font-size:10px ;
		line-height:1 !important;
		text-align:center;
		padding:6px 0 0 0 ;
		display:block;
		position:absolute;
		top:5px;
		left:5px;
		border-radius: 15px; 
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		/* 点滅 */
		-webkit-animation:blink 0.5s ease-in-out infinite alternate;
		-moz-animation:blink 0.5s ease-in-out infinite alternate;
		animation:blink 0.5s ease-in-out infinite alternate;
	}
	
}






